@import 'variables.scss';

.container--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 45vh;
  font-family: 'Roboto Slab', serif;
}

.container--main h1 {
  text-align: center;
  font-weight: 400;
  color: $primary-color;
}
.container--main p {
  margin-top: 0;
  font-size: 14px;
  color: $color-letter;
}
.button--send {
  text-transform: uppercase;
  width: 150px;
  padding: 10px;
  font-size: 8px;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 2px;
}
.container__button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}
